services:
  axonserver:
    image: 'axoniq/axonserver:latest'
    environment:
      - 'AXONIQ_AXONSERVER_STANDALONE=TRUE'
    ports:
      - '8024:8024'
      - '8124:8124'

  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
    # Ajout du volume pour la base de données (sinon vos données sont perdues au redémarrage)
    volumes:
      - account_db_data:/var/lib/postgresql/data
    networks:
      - account_network

  pgadmin:
    image: 'dpage/pgadmin4:latest'
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@localhost.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_LISTEN_PORT: 5050
    ports:
      - '5050:5050'
    volumes:
      - account_pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - account_network

# --- CES SECTIONS DOIVENT ÊTRE TOUT À GAUCHE ---
volumes:
  account_db_data:
  account_pgadmin_data:

networks:
  account_network:
    driver: bridge